## Session 13 : Assignment 1

In [1]:
#Importing packages
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','XYX']
            ,skipinitialspace=True)

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,XYX
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. Creating SQLALCHEMY engine using sample data

In [2]:
## Importing sqlalchemy package
import sqlalchemy as sql
sql.__version__

'1.2.7'

In [4]:
## Create Engine
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)

In [6]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String

class Adults(Base):
    __tablename__='adults'
    
    id=Column(Integer,primary_key=True)
    age=Column(Integer)
    workclass=Column(String)
    fnlwgt=Column(Integer)
    education=Column(String)
    education_num=Column(Integer)
    marital_status=Column(String)
    occupation=Column(String)
    relationship=Column(String)
    race=Column(String)
    sex=Column(String)
    capital_gain=Column(Integer)
    capital_loss=Column(Integer)
    hours_per_week=Column(Integer)
    native_country=Column(String)
    XYX=Column(String)
    
    def __repr__(self):
        return "<Adults(age='%d', workclass='%s', fnlwgt='%d', education='%s', education_num='%d', marital_status='%s', occupation='%s', relationship='%s', race='%s', sex='%s', capital_gain='%d', capital_loss='%d', hours_per_week='%d', native_country='%s', XYX='%s')>" % (self.age, self.workclass, self.fnlwgt, self.education, self.education_num, self.marital_status, self.occupation, self.relationship, self.race, self.sex, self.capital_gain, self.capital_loss, self.hours_per_week, self.native_country, self.XYX)

In [7]:
Adults.__table__

Table('adults', MetaData(bind=None), Column('id', Integer(), table=<adults>, primary_key=True, nullable=False), Column('age', Integer(), table=<adults>), Column('workclass', String(), table=<adults>), Column('fnlwgt', Integer(), table=<adults>), Column('education', String(), table=<adults>), Column('education_num', Integer(), table=<adults>), Column('marital_status', String(), table=<adults>), Column('occupation', String(), table=<adults>), Column('relationship', String(), table=<adults>), Column('race', String(), table=<adults>), Column('sex', String(), table=<adults>), Column('capital_gain', Integer(), table=<adults>), Column('capital_loss', Integer(), table=<adults>), Column('hours_per_week', Integer(), table=<adults>), Column('native_country', String(), table=<adults>), Column('XYX', String(), table=<adults>), schema=None)

In [8]:
Base.metadata.create_all(engine)

2019-01-11 10:07:29,912 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-11 10:07:29,983 INFO sqlalchemy.engine.base.Engine ()
2019-01-11 10:07:29,987 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-11 10:07:29,990 INFO sqlalchemy.engine.base.Engine ()
2019-01-11 10:07:29,996 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adults")
2019-01-11 10:07:29,999 INFO sqlalchemy.engine.base.Engine ()
2019-01-11 10:07:30,009 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adults (
	id INTEGER NOT NULL,
	age INTEGER,
	workclass VARCHAR,
	fnlwgt INTEGER,
	education VARCHAR,
	education_num INTEGER,
	marital_status VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	race VARCHAR,
	sex VARCHAR,
	capital_gain INTEGER,
	capital_loss INTEGER,
	hours_per_week INTEGER,
	native_country VARCHAR,
	"XYX" VARCHAR,
	PRIMARY KEY (id)
)


2019-01-11 10:07:30,012 INFO sqlalchemy.engine.base.Engine ()
2019-01-11 10:07:30,017 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:

from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
Session = sessionmaker()
Session.configure(bind=engine)
session = Session()

In [13]:
### Inserting sample data
adult=Adults(age=39, workclass='State-gov', fnlwgt=77516, education='Bachelors', education_num=13, marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain=2174, capital_loss=0, hours_per_week=40, native_country='United-States', XYX='<=50K')
session.add(adult)
adult=Adults(age=50, workclass='Self-emp-not-inc', fnlwgt=83311, education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=13, native_country='United-States', XYX='<=50K')
session.add(adult)
adult=Adults(age=38, workclass='Private', fnlwgt=215646, education='HS-grad', education_num=9, marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', XYX='<=50K')
session.add(adult)
adult=Adults(age=53, workclass='Private', fnlwgt=234721, education='11th', education_num=7, marital_status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='White', sex='Male', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='United-States', XYX='<=50K')
session.add(adult)
session.add(adult)
adult=Adults(age=28, workclass='Private', fnlwgt=338409, education='Bachelors', education_num=13, marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain=0, capital_loss=0, hours_per_week=40, native_country='Cuba', XYX='<=50K')
session.add(adult)

In [16]:
get_adult=session.query(Adults).all()
get_adult

2019-01-11 10:18:20,826 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-11 10:18:20,836 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
2019-01-11 10:18:20,843 INFO sqlalchemy.engine.base.Engine ()

[<Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='United-States', XYX='<=50K')>,
 <Adults(age='50', workclass='Self-emp-not-inc', fnlwgt='83311', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='13', native_country='United-States', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', XYX='<=50K')>,
 <Adults(age='53', workclass='Private', fnlwgt='234721', education='11th', education_num='7', marital_status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', XYX='<=50K')>,
 <Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='United-States', XYX='<=50K')>,
 <Adults(age='50', workclass='Self-emp-not-inc', fnlwgt='83311', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='13', native_country='United-States', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', XYX='<=50K')>,
 <Adults(age='53', workclass='Private', fnlwgt='234721', education='11th', education_num='7', marital_status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', XYX='<=50K')>,
 <Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>]

In [15]:
session.commit()

2019-01-11 10:12:26,318 INFO sqlalchemy.engine.base.Engine COMMIT

### 2. Basic Update query

#### 2.1 Update Query 1

In [17]:
## Update education to Bachelors_Degree where age == 39 
session.query(Adults).filter(Adults.age == 39).update({'education': "Bachelors_Degree"})
session.commit()

2019-01-11 10:19:25,880 INFO sqlalchemy.engine.base.Engine UPDATE adults SET education=? WHERE adults.age = ?
2019-01-11 10:19:25,882 INFO sqlalchemy.engine.base.Engine ('Bachelors_Degree', 39)
2019-01-11 10:19:25,885 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
## Verifiying data
session.query(Adults).filter(Adults.age == 39).all()

2019-01-11 10:19:37,390 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-11 10:19:37,395 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.age = ?
2019-01-11 10:19:37,397 INFO sqlalchemy.engine.base.Engine (39,)

[<Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='United-States', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='United-States', XYX='<=50K')>]

#### 2.2 Update Query 2

In [19]:
## Update native counrty United-States to USA
session.query(Adults).filter(Adults.native_country == 'United-States').update({'native_country': "USA"})
session.commit()

2019-01-11 10:20:42,911 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.id = ?
2019-01-11 10:20:42,914 INFO sqlalchemy.engine.base.Engine (1,)
2019-01-11 10:20:42,918 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.id = ?
2019-01-11 10:20:42,919 INFO sqlalchemy.engine.base.Engine (11,)
2019-01-11 10:20:42,923 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.id = ?
2019-01-11 10:20:42,925 INFO sqlalchemy.engine.base.Engine (3,)
2019-01-11 10:20:42,929 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.id = ?
2019-01-11 10:20:42,932 INFO sqlalchemy.engine.base.Engine (4,)
2019-01-11 10:20:42,935 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.id = ?
2019-01-11 10:20:42,938 INFO sqlalchemy.engine.base.Engine (5,)
2019-01-11 10:20:42,942 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.id = ?
2019-01-11 10:20:42,944 INFO sqlalchemy.engine.base.Engine (6,)
2019-01-11 10:20:42,947 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.id = ?
2019-01-11 10:20:42,952 INFO sqlalchemy.engine.base.Engine (8,)
2019-01-11 10:20:42,955 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.id = ?
2019-01-11 10:20:42,957 INFO sqlalchemy.engine.base.Engine (9,)
2019-01-11 10:20:42,961 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.id = ?
2019-01-11 10:20:42,964 INFO sqlalchemy.engine.base.Engine (10,)
2019-01-11 10:20:42,970 INFO sqlalchemy.engine.base.Engine UPDATE adults SET native_country=? WHERE adults.native_country = ?
2019-01-11 10:20:42,971 INFO sqlalchemy.engine.base.Engine ('USA', 'United-States')
2019-01-11 10:20:42,975 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
## Verifiying data
session.query(Adults).all()

2019-01-11 10:21:02,699 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-11 10:21:02,703 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
2019-01-11 10:21:02,705 INFO sqlalchemy.engine.base.Engine ()

[<Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='50', workclass='Self-emp-not-inc', fnlwgt='83311', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='13', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='53', workclass='Private', fnlwgt='234721', education='11th', education_num='7', marital_status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='50', workclass='Self-emp-not-inc', fnlwgt='83311', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Exec-managerial', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='13', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='53', workclass='Private', fnlwgt='234721', education='11th', education_num='7', marital_status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>]

### 3. Basic Delete Query

#### 3.1 Delete query 1

In [21]:
## Delete rows where age == 50
session.query(Adults).filter(Adults.age == 50).delete()
session.commit()

2019-01-11 10:22:13,076 INFO sqlalchemy.engine.base.Engine DELETE FROM adults WHERE adults.age = ?
2019-01-11 10:22:13,079 INFO sqlalchemy.engine.base.Engine (50,)
2019-01-11 10:22:13,081 INFO sqlalchemy.engine.base.Engine COMMIT

In [22]:
session.query(Adults).all()

2019-01-11 10:22:16,535 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-11 10:22:16,538 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
2019-01-11 10:22:16,540 INFO sqlalchemy.engine.base.Engine ()

[<Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='53', workclass='Private', fnlwgt='234721', education='11th', education_num='7', marital_status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='53', workclass='Private', fnlwgt='234721', education='11th', education_num='7', marital_status='Married-civ-spouse', occupation='Handlers-cleaners', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>]

#### 3.2 Delete query 2

In [23]:
## Delete rows where relationship == 'Husband'
session.query(Adults).filter(Adults.relationship == 'Husband').delete()
session.commit()

2019-01-11 10:23:14,103 INFO sqlalchemy.engine.base.Engine DELETE FROM adults WHERE adults.relationship = ?
2019-01-11 10:23:14,106 INFO sqlalchemy.engine.base.Engine ('Husband',)
2019-01-11 10:23:14,108 INFO sqlalchemy.engine.base.Engine COMMIT

In [24]:
session.query(Adults).all()

2019-01-11 10:23:17,072 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-11 10:23:17,075 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
2019-01-11 10:23:17,077 INFO sqlalchemy.engine.base.Engine ()

[<Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='28', workclass='Private', fnlwgt='338409', education='Bachelors', education_num='13', marital_status='Married-civ-spouse', occupation='Prof-specialty', relationship='Wife', race='Black', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='Cuba', XYX='<=50K')>]

### 4. Filter Query

#### 4.1 Filter Query 1

In [25]:
## Display rows where sex == Male
session.query(Adults).filter(Adults.sex == 'Male').all()

2019-01-11 10:23:49,252 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.sex = ?
2019-01-11 10:23:49,255 INFO sqlalchemy.engine.base.Engine ('Male',)

[<Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>]

#### 4.2 Filter Query 2

In [26]:
## Display rows Adults.relationship == 'Not-in-family'
session.query(Adults).filter(Adults.relationship == 'Not-in-family').all()

2019-01-11 10:24:18,103 INFO sqlalchemy.engine.base.Engine SELECT adults.id AS adults_id, adults.age AS adults_age, adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.education_num AS adults_education_num, adults.marital_status AS adults_marital_status, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capital_gain AS adults_capital_gain, adults.capital_loss AS adults_capital_loss, adults.hours_per_week AS adults_hours_per_week, adults.native_country AS adults_native_country, adults."XYX" AS "adults_XYX"
FROM adults
WHERE adults.relationship = ?
2019-01-11 10:24:18,106 INFO sqlalchemy.engine.base.Engine ('Not-in-family',)

[<Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='39', workclass='State-gov', fnlwgt='77516', education='Bachelors_Degree', education_num='13', marital_status='Never-married', occupation='Adm-clerical', relationship='Not-in-family', race='White', sex='Male', capital_gain='2174', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>,
 <Adults(age='38', workclass='Private', fnlwgt='215646', education='HS-grad', education_num='9', marital_status='Divorced', occupation='Handlers-cleaners', relationship='Not-in-family', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='USA', XYX='<=50K')>]

### 5. Function Query

#### 5.1 Function query 1

In [27]:
# Importing functions
from sqlalchemy import func

In [28]:
# count User records.
session.query(func.count(Adults.id)).all()

2019-01-11 10:24:39,230 INFO sqlalchemy.engine.base.Engine SELECT count(adults.id) AS count_1
FROM adults
2019-01-11 10:24:39,233 INFO sqlalchemy.engine.base.Engine ()

[(7)]

#### 5.2 Function query 2

In [29]:
# find sum of age
session.query(func.sum(Adults.age)).all()

2019-01-11 10:24:46,643 INFO sqlalchemy.engine.base.Engine SELECT sum(adults.age) AS sum_1
FROM adults
2019-01-11 10:24:46,646 INFO sqlalchemy.engine.base.Engine ()

[(238)]